
h1, h2, h3, h4, h5, h6 {
    color: #FF0000;
    font-size: 200%;
}
ul.posts {
	color: #F00;
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}
