
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}

body {
    background-color: white;
}

.site {
    font-size: 110%;
    /*text-align: justify;*/
    width: 64em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
    /*background-image: url(/blog/images/eg_background.jpg);*/
}

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.tranning {
    margin: auto 1em auto 1em;
    /*padding: 1em auto 1em auto; why this not working ok?*/
    padding-top: auto;
    padding-right: 1em;
    padding-bottom: auto;
    padding-left: 1em;
    border-style: dotted;
    border-width: thin;
    border-color: DarkGray;
    background-color: WhiteSmoke;
}

