<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Kerrignm" />
        <base href="http://kerrignm.github.io/blog/" />
        <base target="_blank" />
        <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" />
        <!--link rel="Shortcut Icon" href="/images/favicon.png" /-->
    </head>
    <body background="/images/eg_background.jpg">
        <div class="site">
            {{ content }}
        </div>
    </body>
</html>
