<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Kerrignm" />
        <meta name="description" content="Kerrignm's Blog" />
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <base href="http://kerrignm.github.io/blog/" />
        <base target="_self" />
        <link rel="stylesheet" href="css/screen.css" type="text/css" />
        <link rel="shortcut icon" href="images/favicon.png" />
        <script type="text/javascript" src="javascript/main.js"></script>
        <script type="text/javascript" src="javascript/time.js"></script>
        <!--script type="text/javascript" src="jquery/jq-example.js"></script-->
    </head>
    <body>
        <!--div class="site"-->
            {{ content }}
        <!--/div-->
    </body>
</html>
